@page "/EditJob"
@inject AppService App

<h3>Edit Job</h3>

<br />

@if (App.Job == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="max-width:800px">
        <div class="col">
            <p>Job Title:</p>
            <input type="text" placeholder="Job Title..." @bind-value="App.Job.Title" class="form-control" />
        </div>
        <div class="col">
            <label>Active Status:</label>
            <input type="checkbox" placeholder="Active Status..." @bind="App.Job.IsActive" class="form-control" />
        </div>
        <div class="col">
            <button @onclick="SaveJob" type="button" class="btn btn-primary">
                <i class="fa-solid fa-floppy-disk-pen"></i>Save Job
            </button>
        </div>
    </div>
}

<div class="modal @(showModal?"show": "")" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Save Job</h5>
            </div>
            <div class="modal-body">
                <p>@App.Job.Title saved successfully.</p>
            </div>
            <div class="modal-footer align-self-center">
                <button @onclick="()=>{showModal=false;}" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@code {
    bool showModal = false;

    async Task SaveJob()
    {
        var response = await App.SaveJob(App.Job);

        if (response.ReturnCode == 1)
        {
            showModal = true;
        }
    }
}
