@page "/jobs"
@inject NavigationManager Nav

<h1>Job Overview</h1>

<p>This page contains all the jobs available in the system.</p>

<div>
    <button @onclick="AddJob" type="button" class="btn btn-primary" title="Add Job" style="float:left">
        <i class="fa-solid fa-user-plus m-2"></i>Add Job
    </button>
</div>

<br />

<JobList></JobList>

@code {
    void AddJob()
    {
        Nav.NavigateTo("AddJob");
    }
}
