@page "/EditJob"
@inject AppService App

<h3>Edit Job</h3>

<br />

@if (App.Job == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div style="max-width:800px">
        <div class="col">
            <p>Job Title:</p>
            <input type="text" placeholder="Job Title..." @bind-value="App.Job.Title" class="form-control" />
        </div>
        <div class="col">
            <label>Active Status:</label>
            <input type="checkbox" placeholder="Active Status..." @bind="App.Job.IsActive" class="form-control" />
        </div>

        <button @onclick="SaveJob" type="button" class="btn btn-primary">
            <i class="fa-solid fa-floppy-disk-pen"></i>Save Job
        </button>
    </div>
}

@code {
    void SaveJob()
    {
        //App.Job;
    }
}
