@page "/jobs"
@inject HttpClient Http

<h1>Job Overview</h1>

<p>This page contains all the jobs available in the system.</p>

@if (JobList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Active Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var job in JobList)
            {
                <tr>
                    <td>@job.Title</td>
                    <td>@job.IsActive</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Job[] JobList;

    protected override async Task OnInitializedAsync()
    {
        JobList = await Http.GetFromJsonAsync<Job[]>("sample-data/jobs.json");
    }

    public class Job
    {
        public string Title { get; set; }

        public bool IsActive { get; set; }
    }
}
